body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u300 {
  position:absolute;
  left:211px;
  top:640px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u302 {
  position:absolute;
  left:21px;
  top:12px;
  width:424px;
  height:848px;
}
#u303 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:46px;
  top:122px;
  width:375px;
  height:647px;
}
#u304_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u306 {
  position:absolute;
  left:182px;
  top:102px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u306_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u306_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u306_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u306_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u307 {
  position:absolute;
  left:46px;
  top:101px;
  width:375px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u308 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#0000FF;
}
#u309 {
  position:absolute;
  left:511px;
  top:27px;
  width:140px;
  height:40px;
  color:#0000FF;
}
#u310 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
