body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u474 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
  font-size:16px;
  color:#000000;
}
#u476 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:376px;
  overflow:hidden;
}
#u477_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:376px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u477_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:377px;
}
#u478 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:376px;
}
#u479 {
  position:absolute;
  left:2px;
  top:180px;
  width:371px;
  word-wrap:break-word;
}
#u477_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u477_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:377px;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:376px;
}
#u481 {
  position:absolute;
  left:2px;
  top:180px;
  width:371px;
  word-wrap:break-word;
}
#u477_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:376px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u477_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:377px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:376px;
}
#u483 {
  position:absolute;
  left:2px;
  top:180px;
  width:371px;
  word-wrap:break-word;
}
#u477_ann {
  position:absolute;
  left:368px;
  top:40px;
  width:1px;
  height:1px;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u485 {
  position:absolute;
  left:150px;
  top:384px;
  width:14px;
  height:14px;
}
#u485_img.selected {
}
#u485.selected {
}
#u486 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u487 {
  position:absolute;
  left:177px;
  top:384px;
  width:14px;
  height:14px;
}
#u487_img.selected {
}
#u487.selected {
}
#u488 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u489 {
  position:absolute;
  left:206px;
  top:384px;
  width:14px;
  height:14px;
}
#u489_img.selected {
}
#u489.selected {
}
#u490 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
}
#u491 {
  position:absolute;
  left:125px;
  top:10px;
  width:121px;
  height:24px;
}
#u492 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  position:absolute;
  left:30px;
  top:13px;
  width:30px;
  height:18px;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u496 {
  position:absolute;
  left:8px;
  top:10px;
  width:25px;
  height:25px;
}
#u497 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u498 {
  position:absolute;
  left:190px;
  top:572px;
  width:179px;
  height:71px;
  font-size:14px;
  text-align:left;
}
#u499 {
  position:absolute;
  left:2px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:85px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:15px;
}
#u500 {
  position:absolute;
  left:2px;
  top:451px;
  width:369px;
  height:85px;
  font-size:15px;
}
#u501 {
  position:absolute;
  left:2px;
  top:34px;
  width:365px;
  word-wrap:break-word;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u503 {
  position:absolute;
  left:0px;
  top:44px;
  width:374px;
  height:374px;
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:374px;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u504 {
  position:absolute;
  left:14px;
  top:111px;
  width:24px;
  height:21px;
}
#u505 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
