body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:368px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u933 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u934 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
}
#u935 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u936 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:20px;
}
#u937 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u938 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:20px;
}
#u939 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u938_ann {
  position:absolute;
  left:386px;
  top:0px;
  width:1px;
  height:1px;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u940 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u941 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u942 {
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:20px;
}
#u943 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u944 {
  position:absolute;
  left:200px;
  top:20px;
  width:100px;
  height:20px;
}
#u945 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u946 {
  position:absolute;
  left:300px;
  top:20px;
  width:100px;
  height:20px;
}
#u947 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u948 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
}
#u949 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u950 {
  position:absolute;
  left:100px;
  top:40px;
  width:100px;
  height:20px;
}
#u951 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u952 {
  position:absolute;
  left:200px;
  top:40px;
  width:100px;
  height:20px;
}
#u953 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u954 {
  position:absolute;
  left:300px;
  top:40px;
  width:100px;
  height:20px;
}
#u955 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u956 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
}
#u957 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u958 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:20px;
}
#u959 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u960 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:20px;
}
#u961 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u962 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:20px;
}
#u963 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u964 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
}
#u965 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u966 {
  position:absolute;
  left:100px;
  top:80px;
  width:100px;
  height:20px;
}
#u967 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u968 {
  position:absolute;
  left:200px;
  top:80px;
  width:100px;
  height:20px;
}
#u969 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u970 {
  position:absolute;
  left:300px;
  top:80px;
  width:100px;
  height:20px;
}
#u971 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u972 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:20px;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u974 {
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:20px;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u976 {
  position:absolute;
  left:200px;
  top:100px;
  width:100px;
  height:20px;
}
#u977 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u978 {
  position:absolute;
  left:300px;
  top:100px;
  width:100px;
  height:20px;
}
#u979 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u980 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:20px;
}
#u981 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u982 {
  position:absolute;
  left:100px;
  top:120px;
  width:100px;
  height:20px;
}
#u983 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u984 {
  position:absolute;
  left:200px;
  top:120px;
  width:100px;
  height:20px;
}
#u985 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u986 {
  position:absolute;
  left:300px;
  top:120px;
  width:100px;
  height:20px;
}
#u987 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u988 {
  position:absolute;
  left:0px;
  top:140px;
  width:100px;
  height:20px;
}
#u989 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u990 {
  position:absolute;
  left:100px;
  top:140px;
  width:100px;
  height:20px;
}
#u991 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u992 {
  position:absolute;
  left:200px;
  top:140px;
  width:100px;
  height:20px;
}
#u993 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u994 {
  position:absolute;
  left:300px;
  top:140px;
  width:100px;
  height:20px;
}
#u995 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u996 {
  position:absolute;
  left:0px;
  top:160px;
  width:100px;
  height:20px;
}
#u997 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u998 {
  position:absolute;
  left:100px;
  top:160px;
  width:100px;
  height:20px;
}
#u999 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:200px;
  top:160px;
  width:100px;
  height:20px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1002 {
  position:absolute;
  left:300px;
  top:160px;
  width:100px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:20px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1006 {
  position:absolute;
  left:100px;
  top:180px;
  width:100px;
  height:20px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1008 {
  position:absolute;
  left:200px;
  top:180px;
  width:100px;
  height:20px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1010 {
  position:absolute;
  left:300px;
  top:180px;
  width:100px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:20px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:100px;
  top:200px;
  width:100px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1016 {
  position:absolute;
  left:200px;
  top:200px;
  width:100px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1018 {
  position:absolute;
  left:300px;
  top:200px;
  width:100px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:220px;
  width:100px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1022 {
  position:absolute;
  left:100px;
  top:220px;
  width:100px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1024 {
  position:absolute;
  left:200px;
  top:220px;
  width:100px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1026 {
  position:absolute;
  left:300px;
  top:220px;
  width:100px;
  height:20px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:240px;
  width:100px;
  height:23px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1030 {
  position:absolute;
  left:100px;
  top:240px;
  width:100px;
  height:23px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1032 {
  position:absolute;
  left:200px;
  top:240px;
  width:100px;
  height:23px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1034 {
  position:absolute;
  left:300px;
  top:240px;
  width:100px;
  height:23px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:263px;
  width:100px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1038 {
  position:absolute;
  left:100px;
  top:263px;
  width:100px;
  height:20px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1040 {
  position:absolute;
  left:200px;
  top:263px;
  width:100px;
  height:20px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1042 {
  position:absolute;
  left:300px;
  top:263px;
  width:100px;
  height:20px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:283px;
  width:100px;
  height:20px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1046 {
  position:absolute;
  left:100px;
  top:283px;
  width:100px;
  height:20px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1048 {
  position:absolute;
  left:200px;
  top:283px;
  width:100px;
  height:20px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1050 {
  position:absolute;
  left:300px;
  top:283px;
  width:100px;
  height:20px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:303px;
  width:100px;
  height:20px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1054 {
  position:absolute;
  left:100px;
  top:303px;
  width:100px;
  height:20px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1056 {
  position:absolute;
  left:200px;
  top:303px;
  width:100px;
  height:20px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1058 {
  position:absolute;
  left:300px;
  top:303px;
  width:100px;
  height:20px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:323px;
  width:100px;
  height:20px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1062 {
  position:absolute;
  left:100px;
  top:323px;
  width:100px;
  height:20px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1064 {
  position:absolute;
  left:200px;
  top:323px;
  width:100px;
  height:20px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1066 {
  position:absolute;
  left:300px;
  top:323px;
  width:100px;
  height:20px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:343px;
  width:100px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1070 {
  position:absolute;
  left:100px;
  top:343px;
  width:100px;
  height:20px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1072 {
  position:absolute;
  left:200px;
  top:343px;
  width:100px;
  height:20px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1074 {
  position:absolute;
  left:300px;
  top:343px;
  width:100px;
  height:20px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
