body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:584px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3651 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:584px;
}
#u3652 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3653 {
  position:absolute;
  left:23px;
  top:246px;
  width:329px;
  height:75px;
  text-align:left;
}
#u3654 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
#u3655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3655 {
  position:absolute;
  left:23px;
  top:27px;
  width:329px;
  height:75px;
  text-align:left;
}
#u3656 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
#u3657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3657 {
  position:absolute;
  left:23px;
  top:138px;
  width:329px;
  height:75px;
  text-align:left;
}
#u3658 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
#u3659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3659 {
  position:absolute;
  left:23px;
  top:363px;
  width:329px;
  height:75px;
  text-align:left;
}
#u3660 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
#u3661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3661 {
  position:absolute;
  left:23px;
  top:477px;
  width:329px;
  height:75px;
  text-align:left;
}
#u3662 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  word-wrap:break-word;
}
