.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
._图片 {
}
.placeholder {
}
.button {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.table_cell {
}
.menu_item {
}
._自由编辑 {
}
._形状 {
}
._文本段落1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本框 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片2 {
  color:#000000;
}
.icon {
}
._图片3 {
  font-family:'宋体 常规', '宋体';
  color:#000000;
}
._文本段落2 {
  text-align:left;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._形状2 {
}
._文本框2 {
  color:#000000;
  text-align:left;
}
