body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1998 {
  position:absolute;
  left:110px;
  top:15px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2000 {
  position:absolute;
  left:4px;
  top:67px;
  width:359px;
  height:725px;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:86px;
  top:0px;
  width:92px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:178px;
  top:0px;
  width:176px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:30px;
  width:86px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:86px;
  top:30px;
  width:92px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:178px;
  top:30px;
  width:176px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:60px;
  width:86px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:86px;
  top:60px;
  width:92px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:178px;
  top:60px;
  width:176px;
  height:30px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:90px;
  width:86px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:86px;
  top:90px;
  width:92px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:178px;
  top:90px;
  width:176px;
  height:30px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:120px;
  width:86px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:86px;
  top:120px;
  width:92px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:178px;
  top:120px;
  width:176px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:0px;
  top:150px;
  width:86px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:86px;
  top:150px;
  width:92px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:178px;
  top:150px;
  width:176px;
  height:30px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:180px;
  width:86px;
  height:30px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2039 {
  position:absolute;
  left:86px;
  top:180px;
  width:92px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:178px;
  top:180px;
  width:176px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:210px;
  width:86px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:86px;
  top:210px;
  width:92px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:178px;
  top:210px;
  width:176px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:240px;
  width:86px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:86px;
  top:240px;
  width:92px;
  height:30px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2053 {
  position:absolute;
  left:178px;
  top:240px;
  width:176px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:270px;
  width:86px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:86px;
  top:270px;
  width:92px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:178px;
  top:270px;
  width:176px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:300px;
  width:86px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2063 {
  position:absolute;
  left:86px;
  top:300px;
  width:92px;
  height:30px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2065 {
  position:absolute;
  left:178px;
  top:300px;
  width:176px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:330px;
  width:86px;
  height:30px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:86px;
  top:330px;
  width:92px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:178px;
  top:330px;
  width:176px;
  height:30px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:360px;
  width:86px;
  height:30px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:86px;
  top:360px;
  width:92px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:178px;
  top:360px;
  width:176px;
  height:30px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:390px;
  width:86px;
  height:30px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2081 {
  position:absolute;
  left:86px;
  top:390px;
  width:92px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:178px;
  top:390px;
  width:176px;
  height:30px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:420px;
  width:86px;
  height:30px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2087 {
  position:absolute;
  left:86px;
  top:420px;
  width:92px;
  height:30px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2089 {
  position:absolute;
  left:178px;
  top:420px;
  width:176px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:450px;
  width:86px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2093 {
  position:absolute;
  left:86px;
  top:450px;
  width:92px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2095 {
  position:absolute;
  left:178px;
  top:450px;
  width:176px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:480px;
  width:86px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2099 {
  position:absolute;
  left:86px;
  top:480px;
  width:92px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2101 {
  position:absolute;
  left:178px;
  top:480px;
  width:176px;
  height:30px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:510px;
  width:86px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2105 {
  position:absolute;
  left:86px;
  top:510px;
  width:92px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2107 {
  position:absolute;
  left:178px;
  top:510px;
  width:176px;
  height:30px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:540px;
  width:86px;
  height:30px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2111 {
  position:absolute;
  left:86px;
  top:540px;
  width:92px;
  height:30px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2113 {
  position:absolute;
  left:178px;
  top:540px;
  width:176px;
  height:30px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:570px;
  width:86px;
  height:30px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:86px;
  top:570px;
  width:92px;
  height:30px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2119 {
  position:absolute;
  left:178px;
  top:570px;
  width:176px;
  height:30px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:600px;
  width:86px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:86px;
  top:600px;
  width:92px;
  height:30px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2125 {
  position:absolute;
  left:178px;
  top:600px;
  width:176px;
  height:30px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:630px;
  width:86px;
  height:30px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2129 {
  position:absolute;
  left:86px;
  top:630px;
  width:92px;
  height:30px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:178px;
  top:630px;
  width:176px;
  height:30px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:660px;
  width:86px;
  height:30px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:86px;
  top:660px;
  width:92px;
  height:30px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:178px;
  top:660px;
  width:176px;
  height:30px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:690px;
  width:86px;
  height:30px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2141 {
  position:absolute;
  left:86px;
  top:690px;
  width:92px;
  height:30px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2143 {
  position:absolute;
  left:178px;
  top:690px;
  width:176px;
  height:30px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:121px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2145 {
  position:absolute;
  left:413px;
  top:72px;
  width:300px;
  height:121px;
  text-align:left;
}
#u2146 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
