body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:366px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:16px;
  top:11px;
  width:1166px;
  height:51px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22 {
  position:absolute;
  left:575px;
  top:24px;
  width:61px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u24 {
  position:absolute;
  left:1041px;
  top:30px;
  width:69px;
  height:15px;
  font-size:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
}
#u26 {
  position:absolute;
  left:1133px;
  top:26px;
  width:41px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:71px;
  top:87px;
  width:1033px;
  height:253px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:30px;
}
#u31 {
  position:absolute;
  left:154px;
  top:0px;
  width:682px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u33 {
  position:absolute;
  left:836px;
  top:0px;
  width:192px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:33px;
}
#u35 {
  position:absolute;
  left:0px;
  top:30px;
  width:154px;
  height:33px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:33px;
}
#u37 {
  position:absolute;
  left:154px;
  top:30px;
  width:682px;
  height:33px;
  text-align:left;
}
#u38 {
  position:absolute;
  left:2px;
  top:9px;
  width:678px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:33px;
}
#u39 {
  position:absolute;
  left:836px;
  top:30px;
  width:192px;
  height:33px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:188px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u41 {
  position:absolute;
  left:0px;
  top:63px;
  width:154px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:30px;
}
#u43 {
  position:absolute;
  left:154px;
  top:63px;
  width:682px;
  height:30px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u45 {
  position:absolute;
  left:836px;
  top:63px;
  width:192px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u47 {
  position:absolute;
  left:0px;
  top:93px;
  width:154px;
  height:31px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:31px;
}
#u49 {
  position:absolute;
  left:154px;
  top:93px;
  width:682px;
  height:31px;
  text-align:left;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u51 {
  position:absolute;
  left:836px;
  top:93px;
  width:192px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u53 {
  position:absolute;
  left:0px;
  top:124px;
  width:154px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:31px;
}
#u55 {
  position:absolute;
  left:154px;
  top:124px;
  width:682px;
  height:31px;
  text-align:left;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u57 {
  position:absolute;
  left:836px;
  top:124px;
  width:192px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u59 {
  position:absolute;
  left:0px;
  top:155px;
  width:154px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:31px;
}
#u61 {
  position:absolute;
  left:154px;
  top:155px;
  width:682px;
  height:31px;
  text-align:left;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u63 {
  position:absolute;
  left:836px;
  top:155px;
  width:192px;
  height:31px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u65 {
  position:absolute;
  left:0px;
  top:186px;
  width:154px;
  height:31px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:31px;
}
#u67 {
  position:absolute;
  left:154px;
  top:186px;
  width:682px;
  height:31px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u69 {
  position:absolute;
  left:836px;
  top:186px;
  width:192px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u71 {
  position:absolute;
  left:0px;
  top:217px;
  width:154px;
  height:31px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:31px;
}
#u73 {
  position:absolute;
  left:154px;
  top:217px;
  width:682px;
  height:31px;
  text-align:left;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u75 {
  position:absolute;
  left:836px;
  top:217px;
  width:192px;
  height:31px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u77 {
  position:absolute;
  left:48px;
  top:35px;
  width:78px;
  height:15px;
  font-size:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u79 {
  position:absolute;
  left:48px;
  top:17px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u81 {
  position:absolute;
  left:996px;
  top:29px;
  width:20px;
  height:18px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u83 {
  position:absolute;
  left:971px;
  top:29px;
  width:20px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
