body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
  font-size:16px;
  color:#000000;
}
#u4070 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4072 {
  position:absolute;
  left:30px;
  top:13px;
  width:59px;
  height:18px;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4074 {
  position:absolute;
  left:8px;
  top:10px;
  width:25px;
  height:25px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u4076 {
  position:absolute;
  left:7px;
  top:87px;
  width:364px;
  height:531px;
  font-size:15px;
  text-align:left;
}
#u4077 {
  position:absolute;
  left:2px;
  top:2px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4078 {
  position:absolute;
  left:7px;
  top:64px;
  width:34px;
  height:18px;
  font-size:15px;
}
#u4079 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u4080 {
  position:absolute;
  left:5px;
  top:94px;
  width:366px;
  height:514px;
  overflow:hidden;
}
#u4080_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:514px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4080_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4081 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:382px;
  height:533px;
}
#u4081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:533px;
}
