body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3579 {
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  height:647px;
}
#u3580 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u3581 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-size:16px;
  color:#000000;
}
#u3582 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3583 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3584 {
  position:absolute;
  left:30px;
  top:13px;
  width:59px;
  height:18px;
}
#u3585 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3586 {
  position:absolute;
  left:8px;
  top:10px;
  width:22px;
  height:22px;
}
#u3587 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-size:15px;
  color:#FFFFFF;
}
#u3588 {
  position:absolute;
  left:310px;
  top:56px;
  width:42px;
  height:25px;
  font-size:15px;
  color:#FFFFFF;
}
#u3589 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u3588_ann {
  position:absolute;
  left:345px;
  top:52px;
  width:1px;
  height:1px;
}
#u3590 {
  position:absolute;
  left:8px;
  top:91px;
  width:354px;
  height:553px;
}
#u3590_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:553px;
}
